<div ui-view="">

    <h1>Contactos</h1>

    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nombres</th>
                <th>Apellidos</th>
                <th>Email</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="contact in ctrl.contacts track by $index">
                <td ng-bind="contact.id"></td>
                <td ng-bind="contact.attributes['name-first']"></td>
                <td ng-bind="contact.attributes['name-last']"></td>
                <td ng-bind="contact.attributes.email"></td>
                <td>
                    <button ng-click="ctrl.detail(contact)"
                            uib-tooltip="Ver Detalles"
                            class="btn btn-default btn-xs glyphicon glyphicon-eye-open">
                    </button>
                    <button ng-click="ctrl.modalPhone()"
                            uib-tooltip="Teléfonos"
                            class="btn btn-default btn-xs glyphicon glyphicon-earphone">
                    </button>
                </td>
            </tr>
        </tbody>
    </table>

    <pre>
        {{ctrl.contacts | json}}
    </pre>

</div>

<script type="text/ng-template" id="myModalContent.html">
    <div class="modal-header">
        <h3 class="modal-title">Teléfonos de Contacto</h3>
    </div>
    <div class="modal-body">

    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" type="button" ng-click="ok()">OK</button>
        <button class="btn btn-warning" type="button" ng-click="cancel()">Cerrar</button>
    </div>
</script>